[submodule "frontend"]
	path = frontend
	url = git@github.com:DV1512/frontend.git
[submodule "backend"]
	path = backend
	url = git@github.com:DV1512/backend.git
[submodule "llm_backend"]
	path = llm_backend
	url = git@github.com:DV1512/llm_backend
